<section id="about" class="about section">
  <div class="container">
    <h2 class="section-title">קצת עליי</h2>
    <div class="about-content">
      <div class="about-text">
        <p class="greeting">היי לך, נעים מאוד!</p>
        <p class="greeting">כמה כיף שאת פה!</p>
        <p>
          שמי טלי פרץ, אמא לשתי מתוקות ונשואה לגבר של חיי.
        </p>
        <p>
          מאז שאני זוכרת את עצמי תמיד הייתי בתנועה. זזתי, רקדתי ונתתי לגוף לדבר.
        </p>
        <p>
          לפני 15 שנה נחשפתי לעולם של היוגה כשהלכתי עם אמא שלי לראשונה לשיעור ליד הבית (נערה בת 14 ואמא בת 50 שעושות לראשונה יוגה)
        </p>
        <p>
          גיליתי עולם ומלואו ומאז ועד היום אני משלבת בחיי את עולם היוגה יחד עם עולם התנועה, המחול.
        </p>
        <p>
          מאז הספקתי ללמוד תואר ראשון במחול, קורסי הכשרה בתנועה, קורסי הוראת אשטנגה וויניאסה והתמחות ביוגה רגישה לטראומה.
        </p>
        <p class="highlight">
          מתוך שליחות פתחתי סטודיו ליוגה ותנועה- Tali yoga & movement בכדי לתת לעוד נשים לטעום ולחוות את הטוב הזה ולחולל שינוי גופני ותודעתי בחייהן.
        </p>
        <p class="highlight">
          שילוב והרמוניה בין הגוף לנפש, בין הרפייה למאמץ וחיבור פנימי,עצמי עמוק ובריא.
        </p>
      </div>
    </div>
  </div>
</section>

